/*
 Theme Name:   Twenty Seventeen Child
 Theme URI:    /
 Description:  Twenty Seventeen Child Theme
 Author:       Cedric Feyaerts
 Author URI:   /
 Template:     twentyseventeen
 Version:      0.0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twentyseventeen-child

 le template est le nom du repertoire du theme parent
*/
.site-title, .site-title a, body.has-header-image .site-title, body.has-header-video .site-title, body.has-header-image .site-title a, body.has-header-video .site-title a{
  color: red;
}
.locale-picker{
  position: absolute;
  right: 10px;
  z-index: 9;
  margin-top: -30px;
  color: white;
}